body {
    padding-top: 5rem;
}

canvas {
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.debit {
    color: #d93436;
}

.credit {
    color: #6b9235;
}

.negative {
    color: #d93436;
    font-weight: bold;
}

.positive {
    color: #6b9235;
    font-weight: bold;
}

.neutral {
    font-weight: bold;
}

.classification-row {
    text-align: center;
    vertical-align: center;
}

.feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
}

.feather-navbar {
    width: 18px;
    height: 18px;
    vertical-align: text-bottom;
}

/*
 * Sidebar
 */

.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100; /* Behind the navbar */
    padding: 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar-sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 48px; /* Height of navbar */
    height: calc(100vh - 48px);
    padding-top: .9rem;
    overflow-x: hidden;
    font-size: .875rem;
    overflow-y: hidden; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
    font-weight: 500;
    color: #333;
}

.sidebar .nav-link .feather {
    margin-right: 4px;
    color: #999;
}

.sidebar .nav-link.active {
    color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
    color: inherit;
}

.sidebar-heading {
    font-size: .75rem;
    text-transform: uppercase;
}

:not(pre) > code[class*="language-"],
pre[class*="language-"] {
	background: #fff;
}

.bd-callout {
    padding: 1.25rem;
    margin-top: 1.25rem;
    margin-bottom: 1.25rem;
    border: 1px solid #eee;
    border-left-width: .25rem;
    border-radius: .25rem;
}

.bd-callout p {
    margin-bottom: 0;
}

.bd-callout-warning {
    border-left-color: #f0ad4e;
}
.refactoring-description {
    background-color: #eeeeee;
}

code {
    color: #1b1e21;
}